<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galactus</title>
</head>

<body>
  <h1>
    ~/galactus
  </h1>

  <main>
    <ul>
      <li>
        <a href="/logs">
          Logs
        </a>
      </li>
      <li>
        <a href="/notes">
          Notes
        </a>
      </li>
    </ul>


    <h5>Start Workspace with Git</h5>
    <form>
      <input placeholder="https://github.com/aaqaishtyaq/dvito" required />
    </form>
    <span></span>
  </main>

  <script src="app.js"></script>
</body>

</html>
